& when (@media-common = true) {
  .lib-font-face(
    @family-name:'Gotham-Regular',
    @font-path: '@{baseDir}fonts/Gotham-Regular',
    @font-weight: normal,
    @font-style: normal
  );
}

@font-family__gotham-regular: 'Gotham-Regular';
@font-family__base: @font-family__gotham-regular;

@color-button-background: #9400D3;
@color-button-border: #000080;
@color-button-text: #fff;

@button-primary__border: 2px solid @color-button-border;
@button-primary__background: @color-button-background;
@button-primary__color: @color-button-text;